name: "Action Test"
on:
  workflow_dispatch:
    inputs:
      pattern1:
        description: 'Include or exclude pattern'
        required: true
      pattern2:
        description: 'Include or exclude pattern'
        required: false
      pattern3:
        description: 'Include or exclude pattern'
        required: false
      pattern4:
        description: 'Include or exclude pattern'
        required: false

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        language: [ 'java' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: ${{ matrix.language }}

    - run: |
        javatest/build

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1
      with:
        upload: False
        output: sarif-results

    - name: filter-sarif
      uses: zbazztian/filter-sarif@master
      with:
        #patterns: |
        #  -**/*.java
        #  +**/*Exposed*
        patterns: |
          ${{ github.event.inputs.pattern1 }}
          ${{ github.event.inputs.pattern2 }}
          ${{ github.event.inputs.pattern3 }}
          ${{ github.event.inputs.pattern4 }}
        input: sarif-results/java-builtin.sarif
        output: sarif-results/java-builtin.sarif

    - name: Upload SARIF
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: sarif-results/java-builtin.sarif

    - name: Upload loc as a Build Artifact
      uses: actions/upload-artifact@v2.2.0
      with:
        name: sarif-results
        path: sarif-results
        retention-days: 1
